<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>


<div class="container p-5">
    <div class="card">
        <div class="card-header" style="font-family:Poetsen One, sans-serif; background-color: #FFF8F1; color: #F8405E; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
            <h1>Produtos disponíveis</h1>
        </div>
        <div class="card-body">
            <table class="table table-borderless table-hover">
                <thead class="table">
                    <tr>
                        <th id="titulotabela" style="border-top-left-radius: 10px;">Imagem</th>
                        <th id="titulotabela">Nome:</th>
                        <th id="titulotabela" >Preço:</th>
                        <th id="titulotabela" style="border-top-right-radius: 10px;">Categoria:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Chamando o array de objetos -->
                <% produtos.forEach(produto => { %>
                    <tr>
                        <td style="text-align: center;"><img src="/images/produto.png"></td>
                        <td><%= produto.nome %></td>
                        <td><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                        <td><%= produto.categoria %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>





<%- include('partials/footer.ejs') %>